<div class="sign-on-container">
    <div class="hero-image">
    </div>

    <div class="sign-on-content">
        <div class="logo">
            <img src="../../assets/logo--Gaggle.svg" alt="">
        </div>
        
        <form class="sign-on-form" action="">

            <div class="input"><input type="text" placeholder="Username"></div>
            <div class="input"><input type="password" placeholder="Password"></div> 
            
            <div class="remember">
                <input type="checkbox"/> Remember
            </div>
            
            <button type="submit" class="submit-button">Sign On</button>
        </form>

        <div class="register-forgot-password">
            <div class="register">
                Register
            </div>
            <div>|</div>
            <div class="forgot-password">
                Forgot password?
            </div>
        </div>
    </div>
</div>
