<div class="sign-on-container">
    <div class="hero-image">
    </div>

    <div class="sign-on-content">
        <div class="logo">
            <img src="../../../assets/logo--Gaggle.svg" alt="">
        </div>

        <form class="sign-on-form" action="">
            <div class="gaggle-input">
                <input 
                    name="username"
                    type="text" 
                    maxlength="50"
                    [(ngModel)]="username.value" 
                    placeholder="Username" 
                    (keyup)="validateUsername($event)">
                <div *ngIf="username.error" class="error">{{username.error}}</div>
            </div>
            <div class="gaggle-input">
                <input 
                    name="password"
                    type="password"
                    maxlength="50"
                    [(ngModel)]="password.value"
                    placeholder="Password"
                    (keyup)="validatePassword($event)">
                <div *ngIf="password.error" class="error">{{password.error}}</div>
            </div>
             
            <div class="remember">
                <input type="checkbox"/> Remember
            </div>
            
            <button type="submit" class="submit-button" (click)="onSubmit()">Sign On</button>
        </form>

        <div class="register-forgot-password">
            <div class="register" (click)="showAccountCreationModal()">
                Register
            </div>
            <div>|</div>
            <div class="forgot-password">
                Forgot password?
            </div>
        </div>
    </div>
</div>
