<header class="header-container">
    <div class="top-bar">
        <div class="left">
            <app-grid-icon></app-grid-icon>
            <div class="logo">
                <img src="../../assets/logo--Gaggle.svg" alt="">
            </div>
        </div>
        <div class="right">
            <div class="save-message">
                <div class="alert"><img src="../../assets/icon--alert.svg" alt=""></div> 
                <div class="text">Save unsuccessful.</div>
            </div>
            <div class="retrying-message">
                <div class="spinner"></div>
                <div>Retrying...</div>
            </div>
        </div>
    </div>
    <div class="button-bar">
        <div class="left">
            <div class="button">
                <button></button>
                <div>Button 1</div>
            </div>
            <div class="button">
                <button></button>
                <div>Button 2</div>
            </div>
            <div class="button">
                <button></button>
                <div>Button 3</div>
            </div>
        </div>
        <div class="right">
            <div class="search-button">
                    <button></button>
                    <div>Filter by Keyword</div>
            </div>
            <div class="button">
                <button></button>
                <div>Export</div>
            </div>
        </div>
    </div>
    <div class="column-bar">
        <input type="checkbox"/>
        <div class="date">Date</div>
        <div class="incident-type">Incident Type</div>
        <div class="status">Status</div>
    </div>
</header>
