.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
}

.hidden{
    display:none;
}
.show{
    display:block;
}

#modal-container {
    display: flex;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
}

app-account-creation-modal {
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  0;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}