/* You can add global styles to this file, and also import other style files */
app-root {
    height: 100%;
}

html, body {
    height: 100%;
    font-family: "Roboto Bold", sans-serif;
    margin: 0;
    background: rgba(0,0,0,0.04);
}