<div class="account-creation-modal-container">
    <div class="content">
        <div class="content-left">
                
        </div>
        <div class="content-right">
            <div class="title">New Account</div>
            <form action="">
                <div class="gaggle-input"><input type="text" placeholder="Username"></div>
                <div class="gaggle-input"><input type="password" placeholder="Password"></div>
                <div class="gaggle-input"><input type="email" placeholder="Email"></div> 
            </form>   
        </div>
    </div>
    <div class="footer">
        <div class="cancel">Cancel</div>
        <div class="register">Register Account</div>
    </div>
</div>

